bind_host: {{ adguardhome_bind_host }}
bind_port: {{ adguardhome_bind_http_port }}
users:
{% for username, password in adguardhome_home_users.items() %}
- name: {{ username }} 
  password: {{ password }}
{% endfor %}
http_proxy: ""
language: ""
rlimit_nofile: 0
debug_pprof: false
web_session_ttl: {{ adguardhome_web_session_ttl }}
dns:
  bind_host: {{ adguardhome_dns_bind_host }}
  port: 53
  statistics_interval: 1
  querylog_enabled: true
  querylog_file_enabled: true
  querylog_interval: 90
  querylog_size_memory: 1000
  anonymize_client_ip: false
  protection_enabled: true
  blocking_mode: default
  blocking_ipv4: ""
  blocking_ipv6: ""
  blocked_response_ttl: {{ adguardhome_dns_blocked_response_ttl }}
  parental_block_host: family-block.dns.adguard.com
  safebrowsing_block_host: standard-block.dns.adguard.com
  ratelimit: 20
  ratelimit_whitelist: []
  refuse_any: true
  upstream_dns:
{% for dns_server in adguardhome_dns_upstream_dns %}
  - {{ dns_server }}
{% endfor %}
  bootstrap_dns:
{% for dns_server in adguardhome_dns_bootstrap_dns %}
  - {{ dns_server }}
{% endfor %}
  all_servers: false
  fastest_addr: false
  allowed_clients: []
  disallowed_clients: []
  blocked_hosts: []
  cache_size: 4194304
  cache_ttl_min: 0
  cache_ttl_max: 0
  bogus_nxdomain: []
  aaaa_disabled: false
  enable_dnssec: {{ adguardhome_dns_enable_dnssec }}
  edns_client_subnet: false
  filtering_enabled: {{ adguardhome_dns_filtering_enabled }}
  filters_update_interval: {{ adguardhome_dns_filters_update_interval }}
  parental_enabled: false
  safesearch_enabled: {{ adguardhome_safesearch_enabled }}
  safebrowsing_enabled: {{ adguardhome_safebrowsing_enabled }}
  safebrowsing_cache_size: 1048576
  safesearch_cache_size: 1048576
  parental_cache_size: 1048576
  cache_time: 30
{% if adguardhome_dns_rewrites | length > 0 %}
  rewrites:
{% for rewrite in adguardhome_dns_rewrites %}
  - domain: {{ rewrite.domain }}
    answer: {{ rewrite.answer }}
{% endfor %}
{% else %}
  rewrites: []
{% endif %}
  blocked_services: []
tls:
  enabled: true
  server_name: "{{ adguardhome_tls_hostname }}"
  force_https: true
  port_https: {{ adguardhome_bind_https_port }}
  port_dns_over_tls: 853
  allow_unencrypted_doh: false
  strict_sni_check: false
  certificate_chain: ""
  private_key: ""
  certificate_path: "{{ adguardhome_tls_cert_pem }}"
  private_key_path: "{{ adguardhome_tls_key_pem }}"
filters:
{% for filters in adguardhome_dns_filters %}
{% for key, value in filters.items() %}
{% if key == 'enabled' %}
- {{ key }}: {{ value }}
{% else %}
  {{ key }}: {{ value }}
{% endif %}
{% endfor %}
{% endfor %}
whitelist_filters: []
user_rules: []
{% if adguardhome_dhcp_enabled | bool %}
dhcp:
  enabled: true
  interface_name: {{ adguardhome_dhcp_interface_name }}
  gateway_ip: {{ adguardhome_dhcp_gateway_ip }}
  subnet_mask: {{ adguardhome_dhcp_subnet_mask }}
  range_start: {{ adguardhome_dhcp_range_start }}
  range_end: {{ adguardhome_dhcp_range_end }}
  lease_duration: {{ adguardhome_dhcp_lease_duration }}
  icmp_timeout_msec: {{ adguardhome_dhcp_icmp_timeout_msec }}
{% else %}
dhcp:
  enabled: false
{% endif %}
clients: []
log_compress: true
log_localtime: true
log_max_backups: 0
log_max_size: 100
log_max_age: 3
log_file: syslog 
verbose: false
schema_version: 6
