#!/usr/bin/env bash

cd {{ adguardhome_certbot_dir }}
set -e

# Setup the `environment`
ETC=$(pwd)/etc
LIB=$(pwd)/lib
LOG=$(pwd)/log

if [ ! -d $ETC -a ! -d $LIB -a ! -d $LOG ]
then
  mkdir $ETC $LIB $LOG
  echo 'Directories created'
fi

# Check supplied arguments
case $1 in
  (certonly) ;; # OK
  (*) printf >&2 'Usage: $0 <command> <certonly||renew>\n'; exit 1;;
esac

docker run --rm --name certbot \
   -v "$ETC:/etc/letsencrypt:rw" \
   -v "$LIB:/var/lib/letsencrypt:rw" \
   -v "$LOG:/var/log/letsencrypt:rw" \
   {{ adguardhome_certbot_cf_repo }} \
   --dns-cloudflare \
   --dns-cloudflare-credentials /etc/letsencrypt/cf.ini \
   --dns-cloudflare-propagation-seconds 30 \
   --non-interactive \
   --agree-tos \
   --email {{ adguardhome_cf_email_address }} $1 -d {{ adguardhome_tls_hostname }}

if [ $? -eq 0 ]
then
  echo "Copying PEM certificate and PRIV key to their respective dirs for ADGUARD"
  install -C -m 600 -o {{ adguardhome_user }} -g {{ adguardhome_user }} $(pwd)/etc/live/{{ adguardhome_tls_hostname }}/fullchain.pem {{ adguardhome_tls_cert_pem }}
  install -C -m 600 -o {{ adguardhome_user }} -g {{ adguardhome_user }} $(pwd)/etc/live/{{ adguardhome_tls_hostname }}/privkey.pem {{ adguardhome_tls_key_pem }}
else
  exit 1
fi