#!/usr/bin/env bash

set -euo pipefail

cd "{{ adguardhome_certbot_dir }}"

ETC="$(pwd)/etc"
LIB="$(pwd)/lib"
LOG="$(pwd)/log"
mkdir -p "$ETC" "$LIB" "$LOG"

COMMAND="${1:-}"
case "$COMMAND" in
  certonly|renew) ;;
  *)
    printf >&2 'Usage: %s <certonly|renew>\n' "$0"
    exit 1
    ;;
esac

docker run --rm --name certbot \
  -v "$ETC:/etc/letsencrypt:rw" \
  -v "$LIB:/var/lib/letsencrypt:rw" \
  -v "$LOG:/var/log/letsencrypt:rw" \
  "{{ adguardhome_certbot_cf_repo }}" \
  --dns-cloudflare \
  --dns-cloudflare-credentials /etc/letsencrypt/cf.ini \
  --dns-cloudflare-propagation-seconds 30 \
  --non-interactive \
  --agree-tos \
  --email "{{ adguardhome_cf_email_address }}" \
  "$COMMAND" \
  -d "{{ adguardhome_tls_hostname }}"

echo "Copying certificate and key for AdGuard Home"
install -C -m 600 -o "{{ adguardhome_user }}" -g "{{ adguardhome_group }}" \
  "$(pwd)/etc/live/{{ adguardhome_tls_hostname }}/fullchain.pem" "{{ adguardhome_tls_cert_pem }}"
install -C -m 600 -o "{{ adguardhome_user }}" -g "{{ adguardhome_group }}" \
  "$(pwd)/etc/live/{{ adguardhome_tls_hostname }}/privkey.pem" "{{ adguardhome_tls_key_pem }}"
